.contest {
    padding-bottom: 2.5rem;
}

.align-right {
    text-align: right;
}

.table-header {
    padding-top: .3125rem !important;
    padding-bottom: .3125rem !important;
    padding-left: 35px !important;
    font-size: .8em;
    background-color: #f2f2f2;
    color: #333333;
    font-weight: 900;
    height: .625em;
    
}

.contest_title {
    background: #ffffff;
    vertical-align: middle;
    line-height: normal;
    line-height: 1.8rem;
    text-align: left;
    padding-left: 15px;
}

main {
    max-width: 66.875rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Segoe UI';
}

p {
    margin: 0;
    padding: 0;
}

#close {
    float: right;
    padding:2px 5px;
    background:#ccc;
}

.last-updated {
    font-size: 1.3rem;
    text-align: right;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.refresh {
    font-size: 0.8rem;
    text-align: right;
} 

.contest-type {
    text-align: left;
    height: 30px;
    line-height: 30px;
}

.candidate-cell {
    line-height: 1;
    font-weight: 400;
}

.contest_table {
    width: 100%;
    padding: 0.2em
}

.DEM {
    background: #008fd5;
    width: 15px;
}

.NON {
    background: #b9b9b9;
    width: 15px;
}

.REJ,
.REP {
    background: #ff2700;
    width: 15px;
}

.Com,
.Lib,
.MOD,
.APP,
.ABR,
.Ind {
    background: #009f29;
    width: 15px;

}

@media (max-width: 765px) {
    .last-updated {
        text-align: left;
    }
    .refresh {
        text-align: left;
    }
}

.city-select {
    font-size: 1.8rem;
}

.card-columns {
    list-style: none;
    padding-inline-start: 0;
}

.navbar {
    min-height: 50px;
    margin-bottom: 21px;
    border: 1px solid transparent;
}

@media (max-width: 990px) {
    .card-columns {
        column-count: 2;
    }
    .city-select {
        font-size: 1.3rem;
    }
}

@media (max-width: 375px) {
    .card-columns {
        column-count: 1;
    }
    h1 {
        font-size: 1.7rem;
    }
    .last-updated {
        font-size: 0.8rem;
    }
    .contest_title {
        font-size: 0.75rem;
    }
    .city-select {
        font-size: 1.8rem;
    }
}

.navbar-toggler {
    border: None;
    border-color: None;
    border-radius: 0;
    outline: none;
    outline-color: none;
}

.contest-card {
    border: None
}

.checkbox-col {
    width: 0.25rem;
}

.btn-submit {
    width: 25%;
}

.disclaimer {
    font-size: 11px;
}

.active {
    border-bottom: 3px solid transparent;
    font-weight: 500;
    color: #fff;
    border-bottom-color: #fff;
}

small {
    font-size: 0.8rem;
    padding-right: 5px;
    font-weight: 500;
}

.info {
    float: right;
    padding: 0px !important;
    border: 0px !important;
}