body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#map {
    background: #ffffff;
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.95);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #333333;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend label {
    position: relative;
    bottom: 2px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
.title-box {
  text-align: center;
  width: 470px;
}

.title-background {
  position: absolute;
  height: auto;
  background-size: cover;
}

.map-title {
  position: absolute;
  color: #333333;
  background: white;
  background: rgba(255, 255, 255, 0.95);
  margin-top: 10px;
  margin-left: 10px;
  font: 50px Arial, Helvetica, sans-serif;
  width: 550px;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
}

button {
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
  border-width: 1px;
  background-color: white;
  border-color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

button:hover {
  -webkit-box-shadow:inset 0px 0px 0px 1px #333333;
  -moz-box-shadow:inset 0px 0px 0px 1px #333333;
  box-shadow:inset 0px 0px 0px 1px #333333;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

hr {
  height: 1px;
  background: #333333;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 15px;
  margin-right: 15px;
}

#exit {
  margin-top: 0.5em;
  color: white;
  background-color: #dc3545;
}

#filtersMobile {
  display: none;
  right: 0;
  top: 0;
  float: right;
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  border: 2px solid rgba(0,0,0,0.6);
}

#attribution {
  right: 0;
  bottom: 0;
  float: right;
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 6px 8px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

.attribution-text {
  font-size: 12px;
}

.toggle-btn {
  background-image: url('https://unpkg.com/leaflet@1.7.1/dist/images/layers.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 550px) {
  #filterSelection {
    display: none;
  }
  #filtersMobile {
    display: block;
  }
}

@media only screen and (max-height: 500px) {
  #filterSelection {
    display: none;
  }
  .title-background {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .title-background {
    display: none;
  }
  #attribution {
    display: none;
  }
}